{% extends 'base.html' %}
{% block title %}
CheckOut
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
</head>
<body>
    {% block content %}
    <div class="m-4" style="font-family: 'Space Grotesk', sans-serif; font-optical-sizing: auto;">
        <h1 class="text-3xl font-semibold mb-4 mt-4 text-center"
          style="font-family: 'Space Grotesk', sans-serif; font-optical-sizing: auto;">Checkout</h1>
        <hr>
        <div class="font-[sans-serif] bg-white p-4">
            <div class="max-w-4xl mx-auto">

              <div class="mt-12">
                <div class="grid md:grid-cols-3 gap-6">
                  <div>
                    <h3 class="text-xl font-bold text-[#333]">01</h3>
                    <h3 class="text-xl font-bold text-[#333]">Personal Details</h3>
                  </div>
                  <div class="md:col-span-2">
                    <form>
                      <div class="grid sm:grid-cols-2 gap-5">
                        <input type="text" placeholder="username" value="{{ user.username }}"
                          class="px-4 py-3.5 bg-white text-[#333] w-full text-sm border-2 rounded-md focus:border-blue-500 outline-none" />
                        <input type="text" placeholder="Full Name"
                          class="px-4 py-3.5 bg-white text-[#333] w-full text-sm border-2 rounded-md focus:border-blue-500 outline-none" />
                        <input type="email" placeholder="Email address" value="{{ user.email }}"
                          class="px-4 py-3.5 bg-white text-[#333] w-full text-sm border-2 rounded-md focus:border-blue-500 outline-none" />
                        <input type="phone" placeholder="Phone number"
                          class="px-4 py-3.5 bg-white text-[#333] w-full text-sm border-2 rounded-md focus:border-blue-500 outline-none" />
                      </div>
                    </form>
                  </div>
                </div>
                <div class="grid md:grid-cols-3 gap-6 mt-12">
                  <div>
                    <h3 class="text-xl font-bold text-[#333]">02</h3>
                    <h3 class="text-xl font-bold text-[#333]">Sending Address</h3>
                  </div>
                  <div class="md:col-span-2">
                    <form>
                      <div class="grid sm:grid-cols-2 gap-5">
                        <input type="text" placeholder="Street address"
                          class="px-4 py-3.5 bg-white text-[#333] w-full text-sm border-2 rounded-md focus:border-blue-500 outline-none" />
                        <input type="text" placeholder="City"
                          class="px-4 py-3.5 bg-white text-[#333] w-full text-sm border-2 rounded-md focus:border-blue-500 outline-none" />
                        <input type="text" placeholder="Post Office"
                          class="px-4 py-3.5 bg-white text-[#333] w-full text-sm border-2 rounded-md focus:border-blue-500 outline-none" />
                        <input type="number" placeholder="Zip Code"
                          class="px-4 py-3.5 bg-white text-[#333] w-full text-sm border-2 rounded-md focus:border-blue-500 outline-none" />
                      </div>
                    </form>
                  </div>
                </div>
                <div class="grid md:grid-cols-3 gap-6 mt-12">
                  <div>
                    <h3 class="text-xl font-bold text-[#333]">03</h3>
                    <h3 class="text-xl font-bold text-[#333]">Payment method</h3>
                  </div>
                  <div class="md:col-span-2">
                    <div class="grid gap-6 sm:grid-cols-2">
                      <div class="flex items-center">
                        <input type="radio" class="w-5 h-5 cursor-pointer" id="card" checked />
                        <label for="card" class="ml-4 flex gap-2 cursor-pointer">
                          <img src="https://readymadeui.com/images/visa.webp" class="w-12" alt="card1" />
                          <img src="https://readymadeui.com/images/american-express.webp" class="w-12" alt="card2" />
                          <img src="https://readymadeui.com/images/master.webp" class="w-12" alt="card3" />
                        </label>
                      </div>
                      <div class="flex items-center">
                        <input type="radio" class="w-5 h-5 cursor-pointer" id="paypal" />
                        <label for="paypal" class="ml-4 flex gap-2 cursor-pointer">
                          <img src="https://readymadeui.com/images/paypal.webp" class="w-20" alt="paypalCard" />
                        </label>
                      </div>
                    </div>
                    <div class="grid sm:grid-cols-4 gap-6 mt-6">
                      <div class="col-span-2">
                        <input type="number" placeholder="Card number"
                          class="px-4 py-3.5 bg-white text-[#333] w-full text-sm border-2 rounded-md focus:border-blue-500 outline-none" />
                      </div>
                      <input type="number" placeholder="EXP."
                        class="px-4 py-3.5 bg-white text-[#333] w-full text-sm border-2 rounded-md focus:border-blue-500 outline-none" />
                      <input type="number" placeholder="CVV"
                        class="px-4 py-3.5 bg-white text-[#333] w-full text-sm border-2 rounded-md focus:border-blue-500 outline-none" />
                    </div>
                  </div>
                </div>
                <div class="flex flex-col mt-12">
                  <div class="flex items-center mb-4">
                      <input type="checkbox" class="w-5 h-5 cursor-pointer" id="terms" />
                      <label for="terms" class="ml-4 text-blue-800 cursor-pointer">I agree to the terms and conditions with all the privacy policy given by wheelzy.</label>
                  </div>
                  <div class="flex flex-wrap justify-end">
                   <a id="checkoutBtn" href="/" class="px-8 py-4 text-lg bg-gray-900 text-white rounded-md hover:bg-gray-700">CheckOut</a>
                  </div>
              </div>
              
            </div>
          </div>

    {% endblock %}
</body>
</html>